body {
  background: #090909;
}

.bg-black {
  background: #000;
}

.card-project:hover {
  border: 1px solid #000;
  cursor: pointer;
}

.collll {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}