{% extends 'layout.html' %} {% block content %} {% load static %}
<header class="row bg-blac">
  <div class="col-md-4">
    <img
      src="{% static 'porfolio/mi_icon1.png' %}"
      class="img-fluid rounded mx-auto d-block img-thumbnail col"
    />
  </div>  

  <div class="col-md-8 my-auto">
    <h1>I am <strong>Jorge Sosa</strong></h1>
    <h3>I am a Python FullStack Developer</h3>
    <p>
      Please accept this words as an expression of my interest. I am a highly
      motivated and progress-focused programmer with a long-standing freelance.
      With a track record of initiative and dependability, I have devised
      strategic initiatives which I believe will prove valuable to your company.
    </p>
    <a
      href="{% static 'porfolio/resumen.pdf' %}"
      class="btn btn-primary btn-lg round-0 my-3"
    >
      download CV
    </a>
  </div>
</header>

<div class="row my-4 text-center">
  <h3>Projects</h3>
  <p>
    Projects that I have done to show my will to improve as an autonomous and as
    a professionals.
  </p>

  {% for project in projects %}
  <div class="com-md-4 p-4">
    <div class="card bg-black card-project">
      <div class="card-body">
        <h2>{{ projects.title }}</h2>
        <p>{{project.description}}</p>
        <img
          src="{{project.image.url}}"
          alt="{{projects.title}}"
          class="card-img-top"
        />

        {% if project.url %}
        <a
          href="{{project.url}}"
          class="btn btn-light rounded-0 btn-sm"
          target="_blanck"
          >{{project.url}}</a
        >
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %} {% endblock content %}
</div>
